.postsBlock{
    padding: 10px;
}
.addContent{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}
.post {
    color: black;
    text-align: center;
    padding-right: 20px;
    font-size: 25px;
}