.container{
    margin-bottom: 15px;
}
.appContainer{
    display: flex;
    justify-content: space-between;
}
.img{
    width: 130px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-size: 36px;
    line-height: 42px;
}
.loginBlock{
    display: flex;
}
.p{
    letter-spacing: 1px
}