.dialogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.dialogsItems {
    display: flex;
    flex-wrap: wrap;
    background: #f8f8ff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    margin: 20px 10px 10px;
}

.dialogsItems .active {
    color: gold;


}

.dialog {
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}

.addContent {
    display: flex;
    align-items: flex-end;

}

.messageContainer {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
}

.messageBox {
    align-items: center;
    color: black;
    border-radius: 15px;
    display: flex;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: auto;
    background: #f8f8ff;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 35%);
}


.NavLink {
    padding: 0 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavLink:hover {
    color: #656565;
}

.avatar {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}